<br />

<footer class="text-center text-lg-start bg-light text-muted">
  <div class="text-center" style="background-color: rgba(0, 0, 0, 0.05);">
    <p>
      <% const currentYear = new Date().getFullYear() %>&#169; <%=currentYear%> It's Weather Outside
    </p>
  </div>
</footer>

<div class="text-center">
  <p>
    Weather images by <a href="https://www.tomorrow.io/" target="_new">Tomorrow.io</a><br />
    Sunrise and Sunset times by <a href="https://sunrise-sunset.org/" target="_new">sunrise-sunset.org</a>
  </p>
</div>

</body>

<script src="js/bootstrap.min.js"></script>

</html>
