<%- include('inc/header.ejs') %>

    <div style="text-align: center; max-width: 400px; margin: 0 auto; padding: 0px;">
        <p>
            <i class="fa-solid fa-screwdriver-wrench fa-2xl"></i><br /><br />
            We are undergoing maintenance<br />We will be back online soon
        </p>
    </div>

<%- include('inc/footer.ejs') %>
